mixin email(e, k)
  button.btn.btn-xs.btn-default(onclick="showEmail(this, '#{e}', '#{k}')") Show Email

doctype html
html(lang="en")
  head
    - var pageName = "about"
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/about")
          mixin navloginlogout("/about")
      section#mainpage
        .container
          .col-md-8.col-md-offset-2(style="margin-bottom:25px;")
            h3 About
            p.
              tubesynch provides free media synchronization for an arbitrary number of sources as well as a real-time chat interface. Users may create public or private channels and build custom playlists that will play in sync with everyone else in the channel.
            p.
              Registering a channel will automatically save the contents of the playlist and allow the owner to customize many different aspects of their channel. Customizations include setting chat ranks (moderators, leaders, etc), using custom CSS, creating emoticons, making chat censors, and more.
            p.
              The owner of the chanel is responsible for setting rules (if any) and enforcing them as they see fit. Because of this, some content on tubesynch may not be suitable  for all ages.
            p.
              For more information on how to use tubesynch, see the <a href="/help" style="color:#E54D4D">Help page</a>.
            h3 Feedback / Contact
            p.
              You can leave feedback for tubesynch by visiting the <a href="/feedback" style="color:#E54D4D">feedback</a> page. You may also contact tubesynch via email:
            each contact in contacts
              mixin email(contact.email, contact.emkey)
              br
          span.text-muted.credit(style="font-size: 13px;color: #FFF;text-shadow: 1px 1px 1px #000;background: #0C0C0C;padding: 10px;border: 1px solid #000;text-align: right;float: right;margin-top: 10px;margin-bottom: -10px;width: 100%;margin-right: -1px").
            tubesynch copyright &copy; 2014&nbsp;&nbsp;&nbsp;<a href="/" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">channels</a>&nbsp;&middot;&nbsp;<a href="/search" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">search</a>&nbsp;&middot;&nbsp;<a href="/faq" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">faq</a>&nbsp;&middot;&nbsp;<a href="/help" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">help</a>&nbsp;&middot;&nbsp;<a href="/about" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">about</a>&nbsp;&middot;&nbsp;<a href="/feedback" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">feedback</a>&nbsp;&middot;&nbsp;<a href="/tos" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">terms of service</a>&nbsp;&middot;&nbsp;<a href="/privacypolicy" style="color: #E54D4D;text-shadow: 1px 1px 1px #000">privacy policy</a>
    include footer
    mixin footer()
    script(type="text/javascript").
      function showEmail(btn, email, key) {
        email = unescape(email);
        key = unescape(key);
        var dest = new Array(email.length);
        for (var i = 0; i < email.length; i++) {
          dest[i] = String.fromCharCode(email.charCodeAt(i) ^ key.charCodeAt(i % key.length));
        }
        email = dest.join("");
        $("<a/>").attr("href", "mailto:" + email)
          .text(email)
          .insertBefore(btn);
        $(btn).remove();
      }
